<!doctype html>
<html>
    <head>
        {% include "head.njk" %}
    </head>
    <body>
        <h1>Torcellini Stuff</h1>
        <main>
            <p>This website is still under construction, but the sites below are filled with interesting content!</p>
            <section id="websites">
                {% for site in websites %}
                <li><article>
                    <h2><a href="{{site.url}}">{{site.name}}</a></h2>
                    <p>{{ site.description }}</p>
                    {% if site.feed %}
                        {% feed site.feed, 2 %}
                    {% endif %}
                </li></article>
                {% endfor %}
            </section>
        </main>
    </body>
</html>
                